* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fffbef;
}

main {
  display: flex;
  min-height: calc(100vh - 13vh);
}

main > article {
  margin: 40px auto;
}

main > nav {
  order: -1;
}

header, footer, article, nav, aside {
  padding: 1em;
}


